// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

#nav-top {
    margin-top: 1em;
}

.footer {
    margin-top: 22em;
    text-align: center;
    background-color: black;
    color: white;
}
