// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

#nav-top {
    margin-top: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color: black;
    color: white;
}

.button1 {
    margin-right: 20px;
}

h1 {
    margin-left: 50px;
}

.text-center {
   text-align: center;
}

table, td, th {
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

// th {
//     background-color: black;
//     color: white;
// }

.header {
    text-decoration: none;
    color:white;
    background-color: black;
    color: white;
}
