.head {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'sans-serif';
    margin-top: 70px;
}
.field1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.field2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.action1 {
    text-align: center;
    margin-top: 30px;
}

//Sign up CSS

.head1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'sans-serif';
    margin-top: 70px;
}

.field_empid {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.field_email {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.field_password {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.field_confirm_password {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.action2 {
    text-align: center;
    margin-top: 30px;
}

.text-center1 {
    text-align: center;
}