<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @emp.email.split('@')[0] %></h1>
    <p>
      Your challenge is upvoted!!.
    </p>
  </body>
</html>
